.container {
  background-color: #f7edde;
  background-image: url("../../../public/Rectangle.png"),
    url(../../Assets/Placeholder_2.png);
  background-repeat: no-repeat;
  background-size: contain, 34.93vw;
  background-position-x: 340px, right;
}
.wrapper {
  max-width: 81.5vw;
  width: 100%;
  margin: 0 auto;
}

.nav_header {
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  height: auto;
  overflow: hidden;
  transition: all 0.3s linear;
  gap: 20px;
}

.show_container {
  height: fit-content;
}

nav ul li {
  list-style-type: none;
}

.nav ul li a {
  color: #2222224d;
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
  /* 155.556% */
  transition: 0.5s ease-in-out;
}

.nav ul li a:hover {
  color: #222222;
}

.nav_toggle {
  display: block;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px;
  transition: all 0.3s linear;
}
.nav_toggle:hover {
  transform: rotate(90deg);
}
.main {
  margin-top: 70px;
}
.hero {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 80px);
  flex: 1;
}
.hero_text {
  margin-top: 140px;
}
.hero_text h3 {
  font-size: clamp(16px, calc(10px + 4vw), 60px);
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -1px;
  max-width: 635px;
}
.description {
  font-size: clamp(12px, calc(6px + 1vw), 18px);
  font-weight: 400;
  line-height: 1.5;
  margin: 30px 0;
  max-width: 444px;
  color: #222222;
}

.buttons_container {
  display: flex;
  max-width: 350px;
  justify-content: space-between;
  margin: 40px 0 30px;
}

@media (max-width: 912px) {
  .container {
    background-size: contain, cover; /*responsive size for smaller screens */
  }
  .hero_text {
    color: #fff;
  }
}
@media (max-width: 912px) {
  .container {
    background-position: center; /*responsive size for smaller screens */
  }
}
