.wrapper {
  width: 160px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 20px 0;
  background-color: var(--blue, #4737ff);
  border: transparent;
  color: #fff;
  transition: ease-in-out all 0.3s;
}
.primary {
  border: 2px solid var(--white, #fff);
}
.secondary {
  background-color: white;
  color: var(--blue, #4737ff);
  border: 2px solid var(--blue, #4737ff);
}
.wrapper:hover {
  color: #4737ff;
  background-color: white;
  border: 2px solid var(--blue, #4737ff);
}

.secondary:hover {
  background-color: #4737ff;
  color: white;
  border: 2px solid var(--white, #fff);
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 160px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding: 20px 0;
  }
}
